pre.astro-code,
code {
  font-family: var(--font-mono);
  font-size: 0.875em;
}

pre.astro-code {
  padding: var(--space-s);
  margin-bottom: var(--space-l);
  overflow-x: auto;
  position: relative;
  overflow-x: auto;
  background-color: var(--bg-code-highlight) !important;
  border-radius: 0.5rem;
  max-width: 80ch;

  &[data-language] {
    padding-top: var(--space-m);
  }

  code {
    &::before,
    &::after {
      content: "";
    }
  }
}

/** Don't show the language identifiers */
pre[data-language]::before {
  content: attr(data-language);
  line-height: 1;
  border-radius: 0 0 0.2rem 0.2rem;
  user-select: none;
  background-color: var(--bg-main);
  padding: var(--space-3xs) var(--space-2xs);
  position: absolute;
  top: 0;
  left: var(--space-s);
  font-size: var(--step--2);
  text-transform: uppercase;
}

pre code a {
  text-decoration: none;
}
