.zm-mainContainer {
  margin: 0 auto var(--space-m-l);
  max-width: 1700px;
  width: 90%;
}

.zm-contentContainer {
  margin: 0 auto var(--space-m-l);
  max-width: 1000px;
  width: 95%;
}

.zm-fullContainer {
  padding: 0 var(--space-m-l);
}

.horizontalName {
  color: var(--colour-text);
  display: block;
}

.zm-movies {
  overflow: hidden;
}
