:root {
  color-scheme: dark;
  background-color: var(--bg);
  line-height: 1.5;
  color: var(--colour-text);
  scroll-behavior: smooth;
}

:root.dark {
  color-scheme: dark;
}

.icon {
  opacity: 0.6;
}

a {
  transition: all 250ms ease-in-out;
  text-decoration: none;
}

.zm-icon {
  --icon-size: 1rem;
  font-size: var(--icon-size);
}

::selection {
  background-color: var(--colour-accent);
  color: var(--bg);
}
