/* Typography */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1350,23,1.25,10,3,400&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--3: clamp(0.65rem, calc(0.62rem + 0.13vw), 0.74rem);
  --step--2: clamp(0.78rem, calc(0.74rem + 0.22vw), 0.92rem);
  --step--1: clamp(0.94rem, calc(0.87rem + 0.33vw), 1.15rem);
  --step-0: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.44rem);
  --step-1: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.8rem);
  --step-2: clamp(1.62rem, calc(1.43rem + 0.97vw), 2.25rem);
  --step-3: clamp(1.94rem, calc(1.68rem + 1.34vw), 2.81rem);
  --step-4: clamp(2.33rem, calc(1.97rem + 1.83vw), 3.51rem);
  --step-5: clamp(2.8rem, calc(2.31rem + 2.47vw), 4.39rem);
  --step-6: clamp(3.36rem, calc(2.7rem + 3.3vw), 5.48rem);
  --step-7: clamp(4.03rem, calc(3.15rem + 4.39vw), 6.85rem);
  --step-8: clamp(4.84rem, calc(3.68rem + 5.8vw), 8.57rem);
  --step-9: clamp(5.81rem, calc(4.28rem + 7.62vw), 10.71rem);
  --step-10: clamp(6.97rem, calc(4.97rem + 9.98vw), 13.39rem);
}

/* Spacing */
/* @link https://utopia.fyi/space/calculator?c=320,17,1.2,1240,20,1.25,10,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-4xs: clamp(0.13rem, calc(0.13rem + 0vw), 0.13rem);
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.81rem, calc(0.77rem + 0.22vw), 0.94rem);
  --space-s: clamp(1.06rem, calc(1rem + 0.33vw), 1.25rem);
  --space-m: clamp(1.63rem, calc(1.54rem + 0.43vw), 1.88rem);
  --space-l: clamp(2.13rem, calc(1.99rem + 0.65vw), 2.5rem);
  --space-xl: clamp(3.19rem, calc(2.99rem + 0.98vw), 3.75rem);
  --space-2xl: clamp(4.25rem, calc(3.99rem + 1.3vw), 5rem);
  --space-3xl: clamp(6.38rem, calc(5.98rem + 1.96vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.81rem, calc(0.66rem + 0.76vw), 1.25rem);
  --space-s-m: clamp(1.06rem, calc(0.78rem + 1.41vw), 1.88rem);
  --space-m-l: clamp(1.63rem, calc(1.32rem + 1.52vw), 2.5rem);
  --space-l-xl: clamp(2.13rem, calc(1.56rem + 2.83vw), 3.75rem);
  --space-xl-2xl: clamp(3.19rem, calc(2.56rem + 3.15vw), 5rem);
  --space-2xl-3xl: clamp(4.25rem, calc(3.12rem + 5.65vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.06rem, calc(0.56rem + 2.5vw), 2.5rem);
}
