:root {
  /* Colours */
  --colour-yellow: #ffd200; /* hsl(33.2deg 72.12% 59.22%) */
  --colour-pink: hsl(334, 86%, 48%);
  --notQuiteSoFuckingDarkSaturation: 25%;
  --notQuiteSoFuckingDarkLightness: 20%;
  --colour-blueNotQuiteSoFuckingDark: hsl(
    214,
    var(--notQuiteSoFuckingDarkSaturation),
    var(--notQuiteSoFuckingDarkLightness)
  );
  --colour-tealNotQuiteSoFuckingDark: hsl(
    193,
    var(--notQuiteSoFuckingDarkSaturation),
    var(--notQuiteSoFuckingDarkLightness)
  );
  --colour-purpleNotQuiteSoFuckingDark: hsl(
    255,
    var(--notQuiteSoFuckingDarkSaturation),
    var(--notQuiteSoFuckingDarkLightness)
  );

  --colour-reallyFuckingDark: hsl(214 14% 15%);
  --colour-notQuiteSoFuckingDark: hsl(
    214 14% var(--notQuiteSoFuckingDarkLightness)
  );
  --colour-reallyFuckingBright: 214 14% 100%;
  --colour-notQuiteSoFuckingBright: hsl(214 14% 85%);
  --colour-accent: hsl(var(--colour-reallyFuckingBright));

  --bg: var(--colour-yellow);
  --bg-nav-active: var(--bg-main);
  --bg-block: hsl(49deg 100% 88% / 60%);
  --colour-text: var(--colour-notQuiteSoFuckingDark);
  --colour-text-inverse: var(--colour-notQuiteSoFuckingBright);
  --border: #ddd;
  --bg-code: var(--bg);
  --bg-code-highlight: #f1f1f1;
  --hr: #ddd;
  --body-opacity: 0.75;
  --flow-space: var(--space-m);

  /* Dark */
  --bg: var(--colour-reallyFuckingDark);
  --bg-block: var(--colour-notQuiteSoFuckingDark);
  --bg-code-highlight: var(--colour-notQuiteSoFuckingDark);
  --bg-nav-active: var(--bg-main);
  --border: theme(colors.zinc.500);
  --colour-text-parts: var(--colour-reallyFuckingBright);
  --colour-text: hsla(var(--colour-reallyFuckingBright) / var(--body-opacity));
  --colour-text-bright: hsla(var(--colour-reallyFuckingBright) / 1);
  --colour-link-decoration: hsla(var(--colour-reallyFuckingBright) / 0.25);
  --colour-text-inverse: var(--colour-notQuiteSoFuckingDark);
  --colour-accent: var(--colour-yellow);
  --hr: #ddd;
  --tag: var(--colour-link-decoration);

  /* Sizes */
  --sidebar-width: 250px;

  /* Fonts */
  --font-mona: Mona Sans, system-ui, sans-serif;
  --font-mono:
    Geist Mono,Recursive Mono Casual Static, Recursive Mono Casual,
    Recursive Mono, Comic Code, JetBrains Mono, SF Mono, Menlo, Monaco,
    Courier New, monospace;
  --font-headings: Gorton, var(--font-mona);
  --font-body: var(--font-mona);
}
