---
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogPostLayout from '../../layouts/BlogPostLayout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'blog'>

const post = Astro.props
const { Content } = await post.render()
---

<BlogPostLayout {...post.data}>
  <Content />
  <footer>
    <span class="mono">&gt;</span> comment on{' '}
    <a
      href={`https://elk.zone/intent/post?text=Reading%20%40zander%40toot.cafe%27s%20https%3A//zander.wtf/blog/${post.slug}%0A%0AI%20think...`}
      target="_blank">mastodon</a
    >
    <br />
    <span class="mono">&gt;</span>{' '}
    <a href="/blog">cd ..</a>
  </footer>
</BlogPostLayout>

<style lang="postcss">
  .mono {
      font-family: var(--font-mono);
      ;
    }
</style>
