.zm-blog {
}
.zm-blog-items {
  container: blog-item / inline-size;
}
.zm-blog-item {
  /* font-size: var(--step-0); */
  div {
    opacity: 0.7;
    font-feature-settings: 'calt' 1, 'liga' 1, 'rlig' 1, 'rvrn' 1, 'kern' 1,
      'rclt' 1, 'tnum' 1;
    font-size: var(--step--2);
  }
}

@container blog-item (min-width: 340px) {
  .zm-blog-item {
    display: flex;
    gap: var(--space-xs);
    /* align-items: center; */

    a {
      order: 2;
    }

    div {
      min-width: 130px;
      order: 1;
      font-size: unset;
    }
  }
}
