.zm-theFuckingContainer {
  margin: 0 var(--space-m-l) var(--space-m-l);

  @media screen and (min-width: 800px) {
    margin-left: 20vw;
  }
}

.zm-fullContainer {
  padding: 0 var(--space-m-l);
}

.zm-contentContainer {
  max-width: 65ch;
  margin: 0 var(--space-m-l) var(--space-m-l);
}

.horizontalName {
  color: var(--colour-text);
  display: block;
}
