---
layout: layouts/base.njk
eleventyImport:
  collections: ['words']
---

<section class="zm-theFuckingContainer zm-contentContainer">
  <header>
    <div class="mb-6">
      <h1 class="zm-articleTitle">{{ title }}</h1>
    </div>
    <div class="zm-articleMetadata mt-6 mb-6 flex flex-col gap-2">
      <div class="flex items-center gap-x-5 gap-y-2 flex-wrap">
        <div class="flex items-center gap-2">
          {{ page.date | readableDate }}
        </div>
      </div>
    </div>
  </header>

  <div>
    <article class="flow">
      {{ content | safe }}
    </article>
  </div>
</section>
