<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %}{{ title }} | {{ site.meta.title }} {% else %}{{
        site.meta.title
      }}
      {% endif %}
    </title>
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}{{
        site.meta.description
      }}{% endif %}"
    />

    <link
      rel="shortcut icon"
      href="{{ '/favicon-32x32.png' | url }}"
      type="image/png"
    />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" media="all" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="{{ '/feed.xml' | url }}"
    />
    <link
      rel="preload"
      href="/public/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/public/fonts/Hubot-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/duotone/style.css"
    />
  </head>

  <body>
    {% include "components/header.njk" %}
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
