---
import BlockAbout from '~/components/BlockAbout.astro';
import BlockBlog from '~/components/BlockBlog.astro';
import BlockLinks from '~/components/BlockLinks.astro';
import BlockNotes from '~/components/BlockNotes.astro';
import PromotedProjects from '~/components/PromotedProjects.astro';
import Status from '~/components/Status.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { SITE_METADATA } from '../consts';

const slug = 'home';
---

<BaseLayout
  title={SITE_METADATA[slug].title}
  subtitle={SITE_METADATA[slug].subtitle}
  slug={slug}
>
  <div class="zm-mainContainer">
    <p class="zm-whoami" aria-hidden="true">~ $ whoami</p>
    <!-- prettier-ignore -->
    <h1 class="zm-intro">
      Hi! I’m <span>Zander<img
          src="/images/avatars/zm-avatar.webp"
          class="avatar"
          alt="Stylised (pixellated) picture of Zander"
        /></span>, I make web things<span class="zm-cursor"></span>
    </h1>



    <Status />

    <PromotedProjects />

    <div class="zm-block-grid">
      <BlockAbout />
      <BlockBlog />
      <BlockLinks />
      <BlockNotes />
    </div>
  </div>
</BaseLayout>

<style>
  .zm-whoami {
    font-family: var(--font-display);
    font-size: var(--step-0);
    color: var(--color-muted);
    padding-block-start: 4vh;
    margin-block-end: var(--space-m);
    user-select: none;

    @media screen and (min-width: 750px) {
      margin-block-end: calc(min(8vw, 180px) * 0.6);
    }
  }

  .zm-intro {
    --avatarSize: min(8vw, 180px);
    font-family: var(--font-body);
    font-weight: 400;
    font-size: var(--step-4);
    line-height: 1.1;
    text-wrap: balance;
    color: var(--color-text-bright);
    margin-block-end: var(--space-xl);

    > span:first-of-type {
      font-family: var(--font-display);
      color: var(--color-accent);
      position: relative;
      white-space: pre;

      img {
        transition: all 150ms ease-in-out;
        position: absolute;
        right: 0;
        bottom: 90%;
        width: var(--avatarSize);
        image-rendering: pixelated;
        border: var(--border-width) solid var(--color-border);
        aspect-ratio: 1 / 1;
        max-width: 180px;
      }
    }
    @media screen and (min-width: 500px) {
      font-size: var(--step-6);
    }
    @media screen and (min-width: 750px) {
      text-align: center;
    }
  }

  .zm-block-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-l);
    margin-block-start: var(--space-l);

    @media screen and (min-width: 950px) {
      gap: var(--space-2xl);
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
