---
import BlockAbout from '~/components/BlockAbout.astro';
import BlockBlog from '~/components/BlockBlog.astro';
import BlockHobbies from '~/components/BlockHobbies.astro';
import BlockLinks from '~/components/BlockLinks.astro';
import BlockMovies from '~/components/BlockMovies.astro';
import BlockProjects from '~/components/BlockProjects.astro';
import { SITE_TITLE } from '../consts';
import Status from '~/components/Status.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
---

<BaseLayout title={SITE_TITLE}>
  <div class="zm-theFuckingContainer">
    <!-- prettier-ignore -->
    <h1 class="zm-intro">
      Hi! I’m <span>Zander<img
          src="/images/avatars/zm-avatar-4.jpg"
          class="avatar-normal"
          alt="Stylised (pixellated) picture of Zander"
        /><img
          src="/images/avatars/zm-avatar-1.jpg"
          class="avatar-hover"
          loading="lazy"
          alt="Picture of Zander"
        /></span>, I make websites
    </h1>



    <Status />

    <div class="zm-block-grid">
      <BlockAbout />
      <BlockBlog />
      <BlockLinks />
      <BlockProjects />
      <BlockMovies />
      <BlockHobbies />
    </div>
  </div>
</BaseLayout>

<style>
  .zm-intro {
    --avatarSize: min(10vw, 180px);
    font-family: var(--font-mona);
    font-variation-settings:
      'wght' 900,
      'wdth' 75,
      'ital' 0;
    font-size: var(--step-6);
    line-height: 0.9;
    color: var(--colour-text-bright);
    margin-bottom: var(--space-l);
    padding-top: var(--avatarSize);

    span {
      font-variation-settings:
        'wght' 900,
        'wdth' 125,
        'ital' 0;
      color: var(--colour-accent);
      position: relative;
      white-space: pre;
      cursor: help;

      img {
        transition: all 150ms ease-in-out;
        transform: rotate(7deg);
        position: absolute;
        right: 0;
        bottom: 100%;
        width: var(--avatarSize);
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        max-width: 180px;
        /* Parallelogram */
        /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
        /* Heptagon */
        /* clip-path: polygon(
          50% 0%,
          90% 20%,
          100% 60%,
          75% 100%,
          25% 100%,
          0% 60%,
          10% 20%
        ); */
        /* Nonagan */
        /* clip-path: polygon(
          50% 0%,
          83% 12%,
          100% 43%,
          94% 78%,
          68% 100%,
          32% 100%,
          6% 78%,
          0% 43%,
          17% 12%
        ); */
      }
      .avatar-hover {
        opacity: 0;
      }
      &:hover img {
        transform: rotate(12deg) scale(0.9);
      }
      &:hover .avatar-hover {
        opacity: 1;
      }
      &:hover .avatar-normal {
        opacity: 0;
      }
    }

    @media screen and (min-width: 500px) {
      font-size: var(--step-8);
    }
  }

  .zm-block-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--space-l);

    @media screen and (min-width: 700px) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }
</style>
