---
import BlockAbout from '~/components/BlockAbout.astro';
import BlockBlog from '~/components/BlockBlog.astro';
import BlockLinks from '~/components/BlockLinks.astro';
import BlockProjects from '~/components/BlockProjects.astro';
import Status from '~/components/Status.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { SITE_METADATA } from '../consts';

const slug = 'home';
---

<BaseLayout
  title={SITE_METADATA[slug].title}
  subtitle={SITE_METADATA[slug].subtitle}
  slug={slug}
>
  <div class="zm-mainContainer">
    <!-- prettier-ignore -->
    <h1 class="zm-intro">
      Hi! I’m <span>Zander<img
          src="/images/avatars/zm-avatar.webp"
          class="avatar"
          alt="Stylised (pixellated) picture of Zander"
        /></span>, I make websites
    </h1>



    <Status />

    <div class="zm-block-grid">
      <BlockAbout />
      <BlockBlog />
      <BlockProjects />
      <BlockLinks />
    </div>
  </div>
</BaseLayout>

<style>
  .zm-intro {
    --avatarSize: min(8vw, 180px);
    font-family: var(--font-mona);
    font-variation-settings:
      'wght' 900,
      'wdth' 75,
      'ital' 0;
    font-size: var(--step-6);
    line-height: 0.9;
    color: var(--colour-text-bright);
    padding-block-start: 4vh;
    margin-block-end: var(--space-xl);
    /* padding-top: var(--avatarSize); */

    span {
      font-variation-settings:
        'wght' 900,
        'wdth' 125,
        'ital' 10;
      color: var(--colour-accent);
      position: relative;
      white-space: pre;

      img {
        transition: all 150ms ease-in-out;
        position: absolute;
        right: 0;
        bottom: 80%;
        width: var(--avatarSize);
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        max-width: 180px;
      }
    }
    @media screen and (min-width: 500px) {
      font-size: var(--step-8);
    }
    @media screen and (min-width: 750px) {
      text-align: center;
    }
  }

  .zm-block-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-l);
    margin-block-start: var(--space-l);

    @media screen and (min-width: 950px) {
      gap: var(--space-2xl);
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
