---
import LinkFeedItem from '../components/LinkFeedItem.astro'
import { fetchLinks } from '../fetching/links'
import PageLayout from '../layouts/PageLayout.astro'

const links = await fetchLinks()
---

<PageLayout
  title="Links"
  subtitle="The top links from my Otter bookmarking app"
>
  <div class="zm-theFuckingContainer">
    <div class="zm-links-feed">
      {
        links.map((item) => {
          if (!item?.title) {
            return null
          }

          return <LinkFeedItem {...item} isFeed={true} />
        })
      }
    </div>
  </div>
</PageLayout>

<style>
  .zm-links-feed {
    display: grid;
    gap: var(--space-l);
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  }
</style>
