---
import LinkFeedItem from '~/components/LinkFeedItem.astro';
import { fetchLinks } from '../fetching/links';
import PageLayout from '~/layouts/PageLayout.astro';

const links = await fetchLinks();
---

<PageLayout
  title="Links"
  subtitle="Hand-picked hyperlinks, all stored in my Otter bookmarking app"
>
  <div>
    Otter is a self-hosted personal bookmarking app, find out more about it <a
      href="/blog/otter-v2"
    >
      here
    </a>
  </div>

  <div class="zm-links-feed">
    {
      links.map((item) => {
        if (!item?.title) {
          return null;
        }

        return <LinkFeedItem {...item} isFeed={true} />;
      })
    }
  </div>
</PageLayout>

<style>
  .zm-links-feed {
    margin-block-start: var(--space-m);
    display: grid;
    gap: var(--space-l);
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  }
</style>
