---
import PageLayout from '~/layouts/PageLayout.astro';
---

<PageLayout title="Styleguide">
  <article class="flow">
    <h2>Heading 2</h2>
    <p>
      Lorem, <b>ipsum dolor sit</b> amet consectetur adipisicing elit. Quidem
      atque inventore laboriosam perspiciatis quos accusamus rerum ea, veritatis
      laudantium corporis <a href="https://zander.wtf">dignissimos nesciunt</a>
       temporibus repellat consequuntur fuga doloribus ut? Explicabo, quas!
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem atque
        inventore laboriosam perspiciatis quos accusamus rerum ea, veritatis
        laudantium corporis dignissimos nesciunt temporibus repellat
        consequuntur fuga doloribus ut? Explicabo, quas!
      </p>
    </p>
    <h3>Heading 3</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem atque
      inventore laboriosam perspiciatis quos accusamus rerum ea, veritatis
      laudantium corporis dignissimos nesciunt temporibus repellat consequuntur
      fuga doloribus ut? Explicabo, quas!
    </p>
    <h3>Heading 4</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem atque
      inventore laboriosam perspiciatis quos accusamus rerum ea, veritatis
      laudantium corporis dignissimos nesciunt temporibus repellat consequuntur
      fuga doloribus ut? Explicabo, quas!
    </p>
    <h3>Heading 5</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem atque
      inventore laboriosam perspiciatis quos accusamus rerum ea, veritatis
      laudantium corporis dignissimos nesciunt temporibus repellat consequuntur
      fuga doloribus ut? Explicabo, quas!
    </p>
  </article>
</PageLayout>

<style>
  p {
    font-size: var(--step-0);
  }
  /* p p {
    font-size: var(--step-0);
  } */
</style>
