---
type Props = {
  orientation?: 'vertical' | 'horizontal' | 'top' | 'bottom';
  class?: string;
};

const { orientation, class: className } = Astro.props;

const horizontalViewbox =
  orientation === 'horizontal'
    ? '0 0 2212 592'
    : orientation === 'top'
      ? '0 0 2212 400'
      : '0 232 2212 360';
---

<div class={className}>
  {
    orientation === 'vertical' ? (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 727 2716"
      >
        <path d="M0 0v401.927H156.57V200.465l430.815 201.462H727V12.965H569.434v187.5L138.619 0H0ZM0 431.302v174.534l119.671 13.963v97.739L.001 732.498v174.534L727 793.335V543.004L0 431.302Zm259.287 202.459 152.58 17.952 149.588 12.966v6.981l-148.591 14.96-153.577 15.958v-68.817ZM0 937.186v163.564H156.57l200.449-8.98v5.99L0 1178.54v186.5h727v-163.56H573.423l-208.427 8.98v-6.99L727 1125.68V937.186H0ZM0 1421.25v161.56c0 233.38 148.591 283.25 363.001 283.25 269.26 0 363.999-93.75 363.999-283.25v-161.56H0Zm156.569 178.52h413.862v14.96c0 53.86-47.869 71.81-203.441 71.81-140.613 0-210.421-9.98-210.421-71.81v-14.96ZM0 1908.23v331.11h156.569v-154.58H298.18v140.62h145.599v-140.62h126.652v154.58H727v-331.11H0ZM0 2285.15v178.52h247.32v24.94c0 33.91-41.885 34.9-76.789 34.9H62.827c-12.964 0-42.882 2-62.827 7.98v180.52c20.942-3.99 42.882-6.98 73.797-6.98h116.679c71.802 0 136.624-16.96 146.597-72.81h6.98c17.951 50.87 76.789 83.78 171.529 83.78C678.134 2716 727 2623.25 727 2485.62v-200.47H0Zm386.935 178.52h183.496v11.97c0 42.89-23.934 60.84-91.748 60.84-58.838 0-91.748-10.97-91.748-59.84v-12.97Z" />
      </svg>
    ) : (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox={horizontalViewbox}
      >
        <path d="M0 592h327.343V464.505H163.265L327.343 113.69V0H10.559v128.307h152.706L0 479.122V592ZM351.266 592h142.147l11.371-97.449h79.602L596.57 592h142.147L646.118 0H442.24l-90.974 592Zm164.89-211.139 14.621-124.246 10.559-121.811h5.686l12.184 120.998 12.996 125.059h-56.046ZM763.275 592h133.211V464.505l-7.31-163.227h4.874L959.843 592h151.897V0H978.525v125.059l7.31 169.723h-5.685L916.793 0H763.275v592ZM1157.51 592h131.59c190.07 0 230.68-120.999 230.68-295.594C1519.78 77.146 1443.43 0 1289.1 0h-131.59v592Zm145.39-127.495v-337.01h12.19c43.86 0 58.48 38.98 58.48 165.663 0 114.502-8.12 171.347-58.48 171.347h-12.19ZM1554.12 592h269.67V464.505h-125.9V349.191h114.53V230.628h-114.53V127.495h125.9V0h-269.67v592ZM1861.1 592h145.4V390.606h20.3c27.62 0 28.43 34.107 28.43 62.53v87.704c0 10.556 1.63 34.919 6.5 51.16h147.02c-3.25-17.053-5.69-34.919-5.69-60.093v-95.013c0-58.469-13.8-111.253-59.29-119.374v-5.685c41.43-14.617 68.23-62.529 68.23-139.676C2212 39.791 2136.46 0 2024.37 0H1861.1v592Zm145.4-315.084V127.495h9.74c34.93 0 49.55 19.49 49.55 74.711 0 47.912-8.93 74.71-48.73 74.71h-10.56Z" />
      </svg>
    )
  }
</div>

<style>
  div {
    color: var(--colour-text-bright);
  }
</style>
