---
const { title, subtitle, class: className } = Astro.props
---

<div class:list={['zm-block', className]}>
  <header>
    <h3 class="zm-block-title">{title}</h3>
    <p class="zm-block-subtitle">
      {subtitle}
    </p>
  </header>

  <slot />
</div>

<style>
  .zm-block {
    --block-radius: 2rem;
    --block-bg: var(--bg-block);
    --block-padding: var(--space-m-l);
    --block-colour: var(--colour-text);
    color: var(--block-colour);
    border-radius: var(--block-radius);
    background-color: var(--block-bg);
    padding: var(--block-padding);

    a {
      --colour: var(--colour-text-bright);
      --colour-decoration: transparent;
    }
  }

  header {
    margin-block-end: var(--space-s);
  }

  .zm-block-title {
    font-variation-settings: 'wght' 500;
    font-size: var(--step-1);
    color: var(--colour-text-bright);
  }

  .zm-block-subtitle {
    margin-block-start: var(--space-3xs);
  }
</style>
