---
import { ABOUT_ME } from '../consts'
import Block from './Block.astro'
import WorkList from './WorkList.astro'
---

<Block title="About me" subtitle={ABOUT_ME.bio}>
  <WorkList />

  <a href="/about" class="zm-block-link">Hire me →</a>
  <a href={ABOUT_ME.cv} class="zm-block-link">View my full CV →</a>
</Block>
