---
import Block from './Block.astro'
import ProjectList from './ProjectList.astro'
---

<Block title="Projects" subtitle="Side-projects">
  <ProjectList limit={3} showSubitems={false} />
  <a href="/hire-me#side-projects" class="zm-block-link">View all projects →</a>
</Block>
