---
import { fetchLinks } from '../fetching/links'
import Block from './Block.astro'
import LinkFeedItem from './LinkFeedItem.astro'
const links = await fetchLinks(4)
---

<Block title="Links" subtitle="Recent bookmarks">
  <div class="zm-links flex flex-col gap-2">
    {
      links.map((item) => {
        if (!item?.title) {
          return null
        }

        return <LinkFeedItem {...item} isFeed={false} />
      })
    }
  </div>
  <a href="/links" class="zm-block-link">View all →</a>
</Block>
