---
import { ABOUT_ME } from '../consts';
import Block from './Block.astro';
import WorkList from './WorkList.astro';
---

<Block title="About me" subtitle={ABOUT_ME.bio}>
  <WorkList />

  <p class="mt-8 leading-tight">For more details on my work experience, check out my <a href="/cv" class="zm-block-link mt-0">CV →</a></p>
</Block>
