---
import Block from './Block.astro';
---

<Block title="A few things I enjoy">
  <ul class="hobbies">
    <li>🏌️‍♂️ Golf</li>
    <li>🍖🔥 BBQ</li>
    <li>🍕 Pizza</li>
    <li>🥁 Drums</li>
    <li>🚵‍♂️ Mountain biking</li>
    <li>💖 Salted Caramel</li>
    <li>🍿 Movies</li>
  </ul>
</Block>

<style>
  .hobbies {
    padding: 0;
    display: flex;
    gap: var(--space-s);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--colour-text-bright);
  }

  li {
    border: 1px solid;
    border-radius: 0;
    flex-shrink: 0;
    padding: var(--space-3xs) var(--space-s);
  }
</style>
