---
import { getCollection } from 'astro:content'
import BlogList from './BlogList.astro'
import Block from './Block.astro'

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 6)
---

<Block title="Blog">
  <BlogList posts={posts} />
  <a href="/blog" class="zm-block-link">View all articles →</a>
</Block>
