---
import { fetchLinks } from '../fetching/links';
import Block from './Block.astro';
import LinkFeedItem from './LinkFeedItem.astro';
const links = await fetchLinks(6);
---

<Block title="Links" subtitle="Hand-picked hyperlinks">
  <div class="zm-links flex flex-col gap-xs">
    {
      links.map((item) => {
        if (!item?.title) {
          return null;
        }

        return <LinkFeedItem {...item} isFeed={false} />;
      })
    }
  </div>
  <a href="/links" class="zm-block-link">View all links →</a>
</Block>
