---
import Block from './Block.astro';
import ProjectList from './ProjectList.astro';
---

<Block title="Projects" subtitle="Current and past side-projects ">
  <ProjectList limit={4} showSubitems={false} />
  <a href="/about#side-projects" class="zm-block-link">View all projects →</a>
</Block>
