---
import { ABOUT_ME } from '../consts'
import Block from './Block.astro'
import WorkList from './WorkList.astro'
---

<Block title="About me" subtitle={ABOUT_ME.bio}>
  <WorkList />

  <a href="/about" class="zm-block-link">More info →</a>
</Block>
