---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

type Props = {
  posts: CollectionEntry<'blog'>[]
}
const { posts } = Astro.props
---

<div class="zm-blog-items">
  {
    posts.map((post) => (
      <div class="zm-blog-item">
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        <div>
          <FormattedDate date={post.data.date} />
        </div>
      </div>
    ))
  }
</div>

<style>
  .zm-blog-items {
    container: blog-item / inline-size;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .zm-blog-item {
    div {
      opacity: 0.7;
      font-feature-settings: 'calt' 1, 'liga' 1, 'rlig' 1, 'rvrn' 1, 'kern' 1,
        'rclt' 1, 'tnum' 1;
      font-size: var(--step--2);
    }
  }

  @container blog-item (min-width: 340px) {
    .zm-blog-item {
      display: flex;
      gap: var(--space-xs);

      a {
        order: 2;
      }

      div {
        min-width: 130px;
        order: 1;
        font-size: unset;
      }
    }
  }
</style>
