---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = {
  posts: CollectionEntry<'blog'>[];
};
const { posts } = Astro.props;
---

<div class="zm-blog-items">
  {
    posts.map(({ slug, data }) => (
      <div class="zm-blog-item">
        <div class="info">
          <a href={`/blog/${slug}`} class="title">
            {data.title}
          </a>
          {data?.subtitle ? <div class="subtitle">{data.subtitle}</div> : null}
        </div>
        <div class="date">
          <FormattedDate date={data.date} />
        </div>
      </div>
    ))
  }
</div>

<style>
  .zm-blog-items {
    container: blog-item / inline-size;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .title {
    line-height: 1.2;
    display: block;
    margin-block-end: var(--space-3xs);
  }

  .subtitle {
    opacity: 0.7;
    font-size: var(--step--1);
    line-height: 1.2;
  }

  .date {
    opacity: 0.7;
    font-feature-settings:
      'calt' 1,
      'liga' 1,
      'rlig' 1,
      'rvrn' 1,
      'kern' 1,
      'rclt' 1,
      'tnum' 1;
    font-size: var(--step--1);
  }

  @container blog-item (min-width: 480px) {
    .zm-blog-item {
      display: flex;
      gap: var(--space-xs);
    }

    .info {
      order: 2;
    }

    .date {
      min-width: 9rem;
      order: 1;
      font-size: unset;
      line-height: 1.2;
      flex-shrink: 0;
    }
  }
</style>
