---
import FormattedDate from './FormattedDate.astro';
import PageSubtitle from './PageSubtitle.astro';
import SectionTitle from './SectionTitle.astro';
import PageTitle from './PageTitle.astro';

type Props = {
  title: string;
  subtitle?: string;
  date?: Date;
  class?: string;
  isSection?: boolean;
};

const { title, subtitle, date, isSection = false } = Astro.props;
---

<header>
  {
    isSection ? (
      <SectionTitle>{title}</SectionTitle>
    ) : (
      <PageTitle transition:persist>{title}</PageTitle>
    )
  }

  {subtitle ? <PageSubtitle transition:persist>{subtitle}</PageSubtitle> : null}
  {
    date ? (
      <div class="zm-articleMetadata mt-6 mb-6 flex flex-col gap-2">
        <div class="flex items-center gap-x-5 gap-y-2 flex-wrap">
          <div class="flex items-center gap-2" transition:persist>
            <FormattedDate date={date} />
          </div>
        </div>
      </div>
    ) : null
  }
</header>

<style>
  header {
    margin-block-end: var(--space-m);
  }
</style>
