<h2><slot /></h2>

<style>
  h2 {
    font-size: var(--step-1);
    font-variation-settings:
      'wght' 300,
      'wdth' 100,
      'ital' 0;
    line-height: 1.1;
    color: var(--colour-text-bright);
    margin-block-start: var(--space-xs);
    opacity: 0.65;
  }
</style>
