---
import { SHOW_STATUS, ABOUT_ME } from 'src/consts';
---

{SHOW_STATUS ? (
  <a href={ABOUT_ME.email}>
    <div>Want to work with me?</div>
    I'm available for contract work Q4 2023 — <span>Get in touch <i class="ph-duotone ph-paper-plane-right"></i></span>
  </a>
) : null}

<style>
  a {
    background-color: var(--colour-accent);
    border-radius: 0.5rem;
    margin: var(--space-m) auto;
    padding: var(--space-2xs) var(--space-xs);
    font-size: var(--step--1);
    font-weight: 500;
    color: var(--bg);
    text-align: center;
    max-width: fit-content;
    display:block;
    font-variation-settings: 'wght' 400, 'wdth' 110, 'ital' 0;
  }

  a:hover {
    font-variation-settings: 'wght' 700, 'wdth' 125, 'ital' 0;
  }

  span {
    display: inline-block;
  }
</style>
