---
import { ABOUT_ME, SHOW_STATUS } from 'src/consts';
---

{
  SHOW_STATUS ? (
    <a href={ABOUT_ME.email}>
      <div>Want to work with me?</div>
      I'm available for contract work Q4 2023 —{' '}
      <span>
        Get in touch <i class="ph-duotone ph-paper-plane-right" />
      </span>
    </a>
  ) : null
}

<style>
  a {
    background-color: var(--color-accent);
    margin: var(--space-m) auto;
    padding: var(--space-2xs) var(--space-xs);
    font-family: var(--font-display);
    font-size: var(--step--1);
    color: var(--color-background);
    text-align: center;
    max-width: fit-content;
    display: block;
    box-shadow: var(--shadow-hard);
  }

  a:hover {
    background-color: var(--color-text-bright);
  }

  span {
    display: inline-block;
  }
</style>
