---
title: 'Home'
layout: layouts/base.njk
permalink: /
currentGig: Fathom
---

<div class="zm-theFuckingContainer">
  <h1 class="zm-intro">Hi! I’m <span>Zander</span>, I make websites</h1>

  <div class="zm-block-grid">
    {% include "components/block-jobs.njk" %} {% include
    "components/block-blog.njk" %} {% include "components/block-links.njk" %} {%
    include "components/block-movies.njk" %} {% include
    "components/block-enjoy.njk" %}
  </div>
</div>
