---
import BaseLayout from './BaseLayout.astro'
import PageHeader from '../components/PageHeader.astro'

type Props = {
  title: string
  subtitle?: string
}
const { title, subtitle } = Astro.props
---

<BaseLayout title={title} subtitle={subtitle}>
  <section class="zm-theFuckingContainer">
    <PageHeader title={title} subtitle={subtitle} />

    <slot />
  </section>
</BaseLayout>
